<!doctype html>
<html class="no-js" lang="en-US"><head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png" rel="icon" type="image/x-icon" />

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/themes/custom/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="/themes/custom/js/jquery.min.js"></script>
<!-- Popper JS -->
<script src="/themes/custom/js/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="/themes/custom/js/bootstrap.min.js"></script>
<script src="/themes/custom/js/jquery.form.js"></script>

<script src="https://worldexpertsvipdextrades.com/themes/custom/js/moment.js"></script>
<script src="https://worldexpertsvipdextrades.com/themes/custom/js/livestamp.min.js"></script>

<link href="/themes/custom/css/animate.css" rel="stylesheet" />
<link href="/themes/custom/css/main.css" rel="stylesheet"/>
<link href="/themes/custom/css/home.css" rel="stylesheet"/>

<link rel="stylesheet" type="text/css" href="/themes/custom/slick/slick.css">
<link rel="stylesheet" type="text/css" href="/themes/custom/slick/slick-theme.css">

<title>SignalminigBTC</title>
<link rel="manifest" href="/themes/custom/js/manifest.json">
<meta name="theme-color" content="#4D7DE6">
<meta name="msapplication-navbutton-color" content="#4D7DE6">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#4D7DE6">


<meta name="theme-color" content="#4D7DE6">
<meta name="msapplication-navbutton-color" content="#4D7DE6">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#4D7DE6">

<link href="/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png" rel="icon" type="image/x-icon" />
<link rel="icon" sizes="192x192" href="/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png">

<meta name="keywords" content="World Experts Vip" />
<meta property="og:image" content="/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png" />

<meta name="msapplication-square310x310logo" content="/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png">
<meta name="msapplication-square70x70logo" content="/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png">
<meta name="msapplication-square150x150logo" content="/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png">
<meta name="msapplication-wide310x150logo" content="/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png">

<link rel="apple-touch-icon-precomposed" href="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png">
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png" />


<meta property="og:site_name" content="World Experts Vip">
<meta property="og:title" content="Trading With World Experts Vip" />
<meta name="description" content="World Experts Vip LIMITED???
INVEST IN A LEADING
TRADE AND INVESTMENT
COMPANY, OPERATING IN
THE UK. 
SERVICES INCLUDE: FOREX TRADING
CRYPTOCURRENCIES, STOCKS & COMMODITIES INVESTMENTS. OIL & GAS, REAL ESTATE INVESTMENTS, MARKET
RESEARCH AND ANALYSIS:
ASSISTING BOTH INDIVIDUALS & COMPANIES INVEST IN THE 
COMMERCIAL MARKET.TRAINING CLIENTS & INVESTORS TO BECOME
EXPERTISE.???">
<meta property="og:description" content="World Experts Vip LIMITED???
INVEST IN A LEADING
TRADE AND INVESTMENT
COMPANY, OPERATING IN
THE UK. 
SERVICES INCLUDE: FOREX TRADING
CRYPTOCURRENCIES, STOCKS & COMMODITIES INVESTMENTS. OIL & GAS, REAL ESTATE INVESTMENTS, MARKET
RESEARCH AND ANALYSIS:
ASSISTING BOTH INDIVIDUALS & COMPANIES INVEST IN THE 
COMMERCIAL MARKET.TRAINING CLIENTS & INVESTORS TO BECOME
EXPERTISE.???">
<meta property="og:type" content="website" />


</head>
<body>

<script>
  function functionConfirm(msg, myYes, myNo) {
    var confirmBox = $("#confirm");
    confirmBox.find(".message").text(msg);
    confirmBox.find(".yes,.no").unbind().click(function() {
      confirmBox.fadeOut();
    });
    confirmBox.find(".yes").click(myYes);
    confirmBox.find(".no").click(myNo);
    confirmBox.fadeIn();
  }
</script>
<div id="confirm">
  <div class="shadow rounded container border">
      <div class="message p-3"></div>
      <div class="text-right border-top p-3 bg-light">
        <button aria-label="Yes" class="btn btn-primary yes">Yes</button>
        <button aria-label="No" class="btn btn-danger no">No</button>
      </div>
  </div>
  
</div> 

<nav class="navbar navbar-expand-lg bg-primary navbar-dark text-light py-1" style="position: relative; z-index: 20000">
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" type="button" id="menu_btn">
      <img src="/themes/custom/images/signs.svg" style="width: 30px" >
    </button>
    <!-- Brand -->
    
    <a class="navbar-brand mr-auto" href="/dashboard">
      <img src="/storage/app/public/photos/logo.png" title="SignalminigBTC" style="height: 40px"/>
    </a>
  
	<ul class="navbar-nav ml-auto" style="-ms-flex-direction: row; flex-direction: row;">
	    
		<li class="nav-item dropdown">
			<a class="nav-link pl-2 pr-0" href="#" id="navbardrop" data-toggle="dropdown">
				<span class="d-none d-md-inline">Hello, <%=user.fullname%></span>
				<img src="/themes/custom/images/avatar.png" style="width: 30px; height:30px" class="rounded-circle ml-2"/>
			</a>
			<div class="dropdown-menu dropdown-menu-right" style="position: absolute;">
				<a class="dropdown-item" href="/account-settings"><%=user.fullname%></a>
				
				<a class="dropdown-item" href="/account-settings">Change Password</a>
				
				<div class="dropdown-divider"></div> 
				<a class="dropdown-item" href="/logout"  ><i class="fa fa-power-off"></i> Sign Out</a>
				
			</div>
		</li>
	</ul>
	
<br>	
	
  </nav>
  
<script src="https://widgets.coingecko.com/coingecko-coin-price-marquee-widget.js"></script>
<coingecko-coin-price-marquee-widget  coin-ids="bitcoin,ethereum,eos,ripple,litecoin" currency="usd" background-color="#FFF" locale="en" font-color="#333"></coingecko-coin-price-marquee-widget>
 
<div class="udex-container">
    <div class="udex-sidebar udex-collapse" id="mySidebar">
        <ul class="nav flex-column">
            <li class="nav-item "><a href="/dashboard" class="nav-link"><i class="fas fa-compass"></i> Dashboard</a></li>
        </ul>
        <div class="px-4 py-2 font-weight-bold">Fund</div>
        <ul class="nav flex-column">
        
            <li class="nav-item "><a class="nav-link" href="/deposits"> <i class="fa fa-inbox"></i> Deposit Funds</a></li>
            
            <li class="nav-item "><a class="nav-link" href="/withdrawals/<%=user._id%>"> <i class="far fa-money-bill-alt"></i> Withdraw Funds</a></li>
                <li class="nav-item "><a class="nav-link" href="/depositHistory/<%=user._id%>"> <i class="fa fa-history"></i>Deposit History</a></li>
                <li class="nav-item "><a class="nav-link" href="/widthdrawHistory/<%=user._id%>"> <i class="fa fa-history"></i>Widthdraw History </a></li>
        
        </ul>
        <div class="px-4 py-2 font-weight-bold">Others</div>
        <ul class="nav flex-column">
            <li>
                <a class="nav-link" href="/buy-copytrading"> <i class="fas fa-copy fa-2x"></i> Copy Expert</a>
                
            </li>
                <li class="nav-item "><a class="nav-link" href="/signal"> <i class="fa fa-signal"></i> Purchase Signal</a></li>
                    <li class="nav-item "><a class="nav-link" href="/loan"> <i class="far fa-clone fa-2x"></i> Loan</a></li>
            <li class="nav-item "><a class="nav-link" href="/viewloan/<%=user._id%>"> <i class="far fa-eye fa-2x"></i> View loans</a></li>
            <li class="nav-item "><a class="nav-link" href="/buy-plan"> <i class="fa fa-suitcase"></i> Upgrade Account</a></li>
            
            <li class="nav-item "><a class="nav-link" href="/myplans/<%=user._id%>"> <i class="fa fa-briefcase"></i> My Plans</a></li>
            <li class="nav-item "><a class="nav-link" href="/referuser"> <i class="fa fa-crosshairs"></i> Affiliate Program</a></li>
                    <li class="nav-item "><a class="nav-link" href="/verify-account"> <i class="fa fa-id-card"></i> Verify Account</a></li>
                <li class="nav-item "><a class="nav-link d-flex" href="/tradinghistory/<%=user._id%>"> <i class="far fa-money-bill-alt"></i> Profit  History
                
            </a>
        </li>
            <li class="nav-item "><a class="nav-link" href="/support"> <i class="fa fa-bullhorn"></i> Support</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout" > <i class="fa fa-power-off"></i> Logout</a>
            
            </li>
        </ul>
    </div>

    

    <!-- Title -->
    <div class="udex-main" id="main">
        <ul class="breadcrumb shadow-none p-0" style="background-color: transparent">
            <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
            
        </ul>
        <h2 class="clearfix">Upgrade your Account Plan<div class="float-right"></div></h2>
    <div>
    </div>
<div>
      <div>
    </div>


<div>
   
       <div class="row mb-6">
       
                    <div class="col-xl-4">
                <!-- Card -->
                <div class="card border-0 py-6 px-4 mb-6 mb-xl-3">
                    <div class="card-body">
                        <h2 class="card-title h2 text-uppercase text-primary text-center mb-3">1.5 % ROI</h2>
                        <h3 class="card-text   text-primary text-center">
                            Beginner Plan 
                            
                            
                        </h3>

                        <!-- Divider -->
                        <hr>

                        <ul class="list-unstyled mb-7">
                            <li class="mb-3">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="12" width="12"
                                    class="me-2 text-primary">
                                    <path
                                        d="M23.37.29a1.49,1.49,0,0,0-2.09.34L7.25,20.2,2.56,15.51A1.5,1.5,0,0,0,.44,17.63l5.93,5.94a1.53,1.53,0,0,0,2.28-.19l15.07-21A1.49,1.49,0,0,0,23.37.29Z"
                                        style="fill: currentColor" />
                                </svg>
                                Minimum amount: €100
                            </li>

                            <li class="mb-3">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="12" width="12"
                                    class="me-2 text-primary">
                                    <path
                                        d="M23.37.29a1.49,1.49,0,0,0-2.09.34L7.25,20.2,2.56,15.51A1.5,1.5,0,0,0,.44,17.63l5.93,5.94a1.53,1.53,0,0,0,2.28-.19l15.07-21A1.49,1.49,0,0,0,23.37.29Z"
                                        style="fill: currentColor" />
                                </svg>
                                Maximum amount: €25,000
                            </li>
                            <li class="mb-3">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="12" width="12"
                                    class="me-2 text-primary">
                                    <path
                                        d="M23.37.29a1.49,1.49,0,0,0-2.09.34L7.25,20.2,2.56,15.51A1.5,1.5,0,0,0,.44,17.63l5.93,5.94a1.53,1.53,0,0,0,2.28-.19l15.07-21A1.49,1.49,0,0,0,23.37.29Z"
                                        style="fill: currentColor" />
                                </svg>
                                1.5% Daily for 60 Days
                            </li>
                            <li class="mb-3">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="12" width="12"
                                    class="me-2 text-primary">
                                    <path
                                        d="M23.37.29a1.49,1.49,0,0,0-2.09.34L7.25,20.2,2.56,15.51A1.5,1.5,0,0,0,.44,17.63l5.93,5.94a1.53,1.53,0,0,0,2.28-.19l15.07-21A1.49,1.49,0,0,0,23.37.29Z"
                                        style="fill: currentColor" />
                                </svg>
                                Charges Amount:
                                
                            </li>
                            <li class="mb-3">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="12" width="12"
                                    class="me-2 text-primary">
                                    <path
                                        d="M23.37.29a1.49,1.49,0,0,0-2.09.34L7.25,20.2,2.56,15.51A1.5,1.5,0,0,0,.44,17.63l5.93,5.94a1.53,1.53,0,0,0,2.28-.19l15.07-21A1.49,1.49,0,0,0,23.37.29Z"
                                        style="fill: currentColor" />
                                </svg>
                                Duration: 60 Days
                            </li>
                        </ul>
                        <div class="">
                            <form method="post" action="/buy-plan/<%=user._id%>">
                                <input type="hidden" name="type" id="type" value="Beginner Plan">
                                <input type="number" min="100" max="25000" name="amount" id="amount" placeholder="€100-€25000" class="form-control h3 " required> <br>
                                <input type="hidden" name="duration" id="duration" value="60 Days">
                                <input type="submit" class="btn btn-block pricing-action btn-primary" value="Join plan" >
                            </form>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
                    <div class="col-xl-4">
                <!-- Card -->
                <div class="card border-0 py-6 px-4 mb-6 mb-xl-3">
                    <div class="card-body">
                        <h2 class="card-title h2 text-uppercase text-primary text-center mb-3">2.5 % ROI</h2>
                        <h3 class="card-text   text-primary text-center">
                            Standard plan 
                            
                            
                        </h3>

                        <!-- Divider -->
                        <hr>

                        <ul class="list-unstyled mb-7">
                            <li class="mb-3">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="12" width="12"
                                    class="me-2 text-primary">
                                    <path
                                        d="M23.37.29a1.49,1.49,0,0,0-2.09.34L7.25,20.2,2.56,15.51A1.5,1.5,0,0,0,.44,17.63l5.93,5.94a1.53,1.53,0,0,0,2.28-.19l15.07-21A1.49,1.49,0,0,0,23.37.29Z"
                                        style="fill: currentColor" />
                                </svg>
                                Minimum amount: €25,000
                            </li>

                            <li class="mb-3">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="12" width="12"
                                    class="me-2 text-primary">
                                    <path
                                        d="M23.37.29a1.49,1.49,0,0,0-2.09.34L7.25,20.2,2.56,15.51A1.5,1.5,0,0,0,.44,17.63l5.93,5.94a1.53,1.53,0,0,0,2.28-.19l15.07-21A1.49,1.49,0,0,0,23.37.29Z"
                                        style="fill: currentColor" />
                                </svg>
                                Maximum amount: €100,000
                            </li>
                            <li class="mb-3">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="12" width="12"
                                    class="me-2 text-primary">
                                    <path
                                        d="M23.37.29a1.49,1.49,0,0,0-2.09.34L7.25,20.2,2.56,15.51A1.5,1.5,0,0,0,.44,17.63l5.93,5.94a1.53,1.53,0,0,0,2.28-.19l15.07-21A1.49,1.49,0,0,0,23.37.29Z"
                                        style="fill: currentColor" />
                                </svg>
                                2.5% Daily for 60
                            </li>
                            <li class="mb-3">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="12" width="12"
                                    class="me-2 text-primary">
                                    <path
                                        d="M23.37.29a1.49,1.49,0,0,0-2.09.34L7.25,20.2,2.56,15.51A1.5,1.5,0,0,0,.44,17.63l5.93,5.94a1.53,1.53,0,0,0,2.28-.19l15.07-21A1.49,1.49,0,0,0,23.37.29Z"
                                        style="fill: currentColor" />
                                </svg>
                                Charges Amount:
                                
                            </li>
                            <li class="mb-3">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="12" width="12"
                                    class="me-2 text-primary">
                                    <path
                                        d="M23.37.29a1.49,1.49,0,0,0-2.09.34L7.25,20.2,2.56,15.51A1.5,1.5,0,0,0,.44,17.63l5.93,5.94a1.53,1.53,0,0,0,2.28-.19l15.07-21A1.49,1.49,0,0,0,23.37.29Z"
                                        style="fill: currentColor" />
                                </svg>
                                Duration: 60
                            </li>
                        </ul>
                        <div class="">
                            <form method="post" action="/buy-plan/<%=user._id%>">
                                <input type="hidden" name="type" id="type" value="Standard plan ">
                                <input type="number" min="25000" max="100000" name="amount"id="amount"  placeholder="€ 25000-€ 100000 " class="form-control h3 " required> <br>
                                <input type="hidden" name="duration" id="duration" value="60">
                                <input type="submit" class="btn btn-block pricing-action btn-primary" value="Join plan" >
                            </form>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
                    <div class="col-xl-4">
                <!-- Card -->
                <div class="card border-0 py-6 px-4 mb-6 mb-xl-3">
                    <div class="card-body">
                        <h2 class="card-title h2 text-uppercase text-primary text-center mb-3">3.1 % ROI</h2>
                        <h3 class="card-text   text-primary text-center">
                            Business plan 
                            
                            
                        </h3>

                        <!-- Divider -->
                        <hr>

                        <ul class="list-unstyled mb-7">
                            <li class="mb-3">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="12" width="12"
                                    class="me-2 text-primary">
                                    <path
                                        d="M23.37.29a1.49,1.49,0,0,0-2.09.34L7.25,20.2,2.56,15.51A1.5,1.5,0,0,0,.44,17.63l5.93,5.94a1.53,1.53,0,0,0,2.28-.19l15.07-21A1.49,1.49,0,0,0,23.37.29Z"
                                        style="fill: currentColor" />
                                </svg>
                                Minimum amount: €100,000
                            </li>

                            <li class="mb-3">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="12" width="12"
                                    class="me-2 text-primary">
                                    <path
                                        d="M23.37.29a1.49,1.49,0,0,0-2.09.34L7.25,20.2,2.56,15.51A1.5,1.5,0,0,0,.44,17.63l5.93,5.94a1.53,1.53,0,0,0,2.28-.19l15.07-21A1.49,1.49,0,0,0,23.37.29Z"
                                        style="fill: currentColor" />
                                </svg>
                                Maximum amount: €1,000,000
                            </li>
                            <li class="mb-3">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="12" width="12"
                                    class="me-2 text-primary">
                                    <path
                                        d="M23.37.29a1.49,1.49,0,0,0-2.09.34L7.25,20.2,2.56,15.51A1.5,1.5,0,0,0,.44,17.63l5.93,5.94a1.53,1.53,0,0,0,2.28-.19l15.07-21A1.49,1.49,0,0,0,23.37.29Z"
                                        style="fill: currentColor" />
                                </svg>
                                3.1% Daily for 30 Days
                            </li>
                            <li class="mb-3">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="12" width="12"
                                    class="me-2 text-primary">
                                    <path
                                        d="M23.37.29a1.49,1.49,0,0,0-2.09.34L7.25,20.2,2.56,15.51A1.5,1.5,0,0,0,.44,17.63l5.93,5.94a1.53,1.53,0,0,0,2.28-.19l15.07-21A1.49,1.49,0,0,0,23.37.29Z"
                                        style="fill: currentColor" />
                                </svg>
                                Charges Amount:
                                
                            </li>
                            <li class="mb-3">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="12" width="12"
                                    class="me-2 text-primary">
                                    <path
                                        d="M23.37.29a1.49,1.49,0,0,0-2.09.34L7.25,20.2,2.56,15.51A1.5,1.5,0,0,0,.44,17.63l5.93,5.94a1.53,1.53,0,0,0,2.28-.19l15.07-21A1.49,1.49,0,0,0,23.37.29Z"
                                        style="fill: currentColor" />
                                </svg>
                                Duration: 30 Days
                            </li>
                        </ul>
                        <div class="">
                            <form method="post" action="/buy-plan/<%=user._id%>">
                                <input type="hidden" name="type" id="type" value="Business plan ">
                                <input type="number" min="100000" max="1000000" name="amount" id="amount" placeholder="€100000 - € 1000000 " class="form-control h3 " required> <br>
                                <input type="hidden" name="duration" id="duration" value="30 Days">
                                <input type="submit" class="btn btn-block pricing-action btn-primary" value="Join plan" >
                            </form>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
                    <div class="col-xl-4">
                <!-- Card -->
                <div class="card border-0 py-6 px-4 mb-6 mb-xl-3">
                    <div class="card-body">
                        <h2 class="card-title h2 text-uppercase text-primary text-center mb-3">25 % ROI</h2>
                        <h3 class="card-text   text-primary text-center">
                            Basic  Plan 
                            
                            
                        </h3>

                        <!-- Divider -->
                        <hr>

                        <ul class="list-unstyled mb-7">
                            <li class="mb-3">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="12" width="12"
                                    class="me-2 text-primary">
                                    <path
                                        d="M23.37.29a1.49,1.49,0,0,0-2.09.34L7.25,20.2,2.56,15.51A1.5,1.5,0,0,0,.44,17.63l5.93,5.94a1.53,1.53,0,0,0,2.28-.19l15.07-21A1.49,1.49,0,0,0,23.37.29Z"
                                        style="fill: currentColor" />
                                </svg>
                                Minimum amount: €3,000
                            </li>

                            <li class="mb-3">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="12" width="12"
                                    class="me-2 text-primary">
                                    <path
                                        d="M23.37.29a1.49,1.49,0,0,0-2.09.34L7.25,20.2,2.56,15.51A1.5,1.5,0,0,0,.44,17.63l5.93,5.94a1.53,1.53,0,0,0,2.28-.19l15.07-21A1.49,1.49,0,0,0,23.37.29Z"
                                        style="fill: currentColor" />
                                </svg>
                                Maximum amount: €29,999
                            </li>
                            <li class="mb-3">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="12" width="12"
                                    class="me-2 text-primary">
                                    <path
                                        d="M23.37.29a1.49,1.49,0,0,0-2.09.34L7.25,20.2,2.56,15.51A1.5,1.5,0,0,0,.44,17.63l5.93,5.94a1.53,1.53,0,0,0,2.28-.19l15.07-21A1.49,1.49,0,0,0,23.37.29Z"
                                        style="fill: currentColor" />
                                </svg>
                                25% Daily for 4 Days
                            </li>
                            <li class="mb-3">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="12" width="12"
                                    class="me-2 text-primary">
                                    <path
                                        d="M23.37.29a1.49,1.49,0,0,0-2.09.34L7.25,20.2,2.56,15.51A1.5,1.5,0,0,0,.44,17.63l5.93,5.94a1.53,1.53,0,0,0,2.28-.19l15.07-21A1.49,1.49,0,0,0,23.37.29Z"
                                        style="fill: currentColor" />
                                </svg>
                                Charges Amount:
                                
                            </li>
                            <li class="mb-3">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="12" width="12"
                                    class="me-2 text-primary">
                                    <path
                                        d="M23.37.29a1.49,1.49,0,0,0-2.09.34L7.25,20.2,2.56,15.51A1.5,1.5,0,0,0,.44,17.63l5.93,5.94a1.53,1.53,0,0,0,2.28-.19l15.07-21A1.49,1.49,0,0,0,23.37.29Z"
                                        style="fill: currentColor" />
                                </svg>
                                Duration: 4 Days
                            </li>
                        </ul>
                        <div class="">
                            <form method="post" action="/buy-plan/<%=user._id%>">
                                <input type="hidden" name="type" id="type" value=" Basic  Plan">
                                <input type="number" min="3000" max="29999" name="amount" id="amount" placeholder="             € 3000 - € 29999 " class="form-control h3 " required> <br>
                                <input type="hidden" name="duration" id="duration" value="4 Days">
                                <input type="submit" class="btn btn-block pricing-action btn-primary" value="Join plan" >
                            </form>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        
        <div id="withdrawdisabled" class="modal fade" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalCenterTitle">No Plans</h3>
                    </div>
                    <div class="modal-footer m-0">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="dash_footer mt-4 small">
	<p>
		Copyright © SignalminigBTC Company offers a simple and transparent mechanism for attracting investments and making profits.
		<br />
	</p>
	</div>	
</div>

<div class="modal" id="profileModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      

      <!-- Modal body -->
      

    </div>
  </div>
</div>
</div>


 
<div class="udex-overlay" id="myOverlay"></div>

<!-- The Modal -->
<div class="modal fade" id="noticeModal" role="dialog">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Notice!</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Do not pay to any wallet address aside from the company's Official wallet
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


<script>
	function copyFunction(text){
		var dummy = document.createElement("textarea");
		document.body.appendChild(dummy);
		dummy.value = text;
		dummy.select();
		document.execCommand("copy");
		document.body.removeChild(dummy);
		alert('Copied');
	}
</script>
<script>
if ($(window).width() > 992) {
	boxPosition = $(".udex-sidebar").offset().top;
	$(window).scroll(function(){
	   var isFixed = $(".udex-sidebar").css("position") === "fixed";
	   if($(window).scrollTop() > boxPosition && !isFixed){
				$(".udex-sidebar").css({position:"fixed", top: "0px"});
	   }else if($(window).scrollTop() < boxPosition){
			$(".udex-sidebar").css({position:"absolute", top: "auto"});
	   }
	});
}
</script>
<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>

<script>
$("#menu_btn").click( function(){
	$("#mySidebar").toggle();
	$("#main, .udex_footer").toggleClass("cubic-left");
	$("body").toggleClass("udex_overflow");
});
$("#account_menu").click( function(){
	$("#myAccount").toggle();
	$("#main, .udex_footer").toggleClass("cubic-right");
	$("body").toggleClass("udex_overflow");
});
</script>
 
  <style>
  .skiptranslate {
    display: none !important;
  }
  body {
    top: 0 !important;
  }
</style>
<div id="google_translate_element" style="display:none"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: "en"}, 'google_translate_element');
}
</script>

<script src='https://quidinvestmentgroup.com/user/assets/libs/jquery/jquery.min.js'></script>

<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


    
    <button data-bs-toggle="modal" data-bs-target="#Error" id="ErrorButton" style="display: none">click</button>

            <button data-bs-toggle="modal" data-bs-target="#Success" id="SuccessButton" style="display: none">click</button>



            <div class="modal fade dialogbox" id="Success" data-bs-backdrop="static" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-icon text-success">
                        <i class="fas fa-check-circle"></i>
                    </div>
                    <div class="modal-header">
                        <h5 class="modal-title">Success</h5>
                    </div>
                    <div class="modal-body text-white">
                         
                                    </div>
                    <div class="modal-footer">
                        <div class="btn-inline">
                            <a href="#" class="btn btn-primary" data-bs-dismiss="modal">CLOSE</a>
                        </div>
                    </div>
                </div>
                </div>
                </div>

                <div class="modal fade dialogbox" id="Error" data-bs-backdrop="static" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-icon text-danger">
                            <i class="fas fa-times-circle"></i>
                        </div>
                        <div class="modal-header">
                            <h5 class="modal-title">Error</h5>
                        </div>
                        <div class="modal-body text-white">
                             
                                        </div>
                        <div class="modal-footer">
                            <div class="btn-inline">
                                <a href="#" class="btn btn-primary " data-bs-dismiss="modal">CLOSE</a>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>

                    <div class="gtranslate_wrapper"></div>
<script>window.gtranslateSettings = {"default_language":"en","wrapper_selector":".gtranslate_wrapper","flag_style":"3d"}</script>
<script src="https://cdn.gtranslate.net/widgets/latest/float.js" defer></script>



</body>
</html>