<!doctype html>
<html class="no-js" lang="en-US"><head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png" rel="icon" type="image/x-icon" />

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/themes/custom/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="/themes/custom/js/jquery.min.js"></script>
<!-- Popper JS -->
<script src="/themes/custom/js/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="/themes/custom/js/bootstrap.min.js"></script>
<script src="/themes/custom/js/jquery.form.js"></script>

<script src="/themes/custom/js/moment.js"></script>
<script src="/themes/custom/js/livestamp.min.js"></script>

<link href="/themes/custom/css/animate.css" rel="stylesheet" />
<link href="/themes/custom/css/main.css" rel="stylesheet"/>
<link href="/themes/custom/css/home.css" rel="stylesheet"/>

<link rel="stylesheet" type="text/css" href="/themes/custom/slick/slick.css">
<link rel="stylesheet" type="text/css" href="/themes/custom/slick/slick-theme.css">

<title>SignalminigBTC</title>
<link rel="manifest" href="/themes/custom/js/manifest.json">
<meta name="theme-color" content="#4D7DE6">
<meta name="msapplication-navbutton-color" content="#4D7DE6">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#4D7DE6">


<meta name="theme-color" content="#4D7DE6">
<meta name="msapplication-navbutton-color" content="#4D7DE6">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#4D7DE6">

<link href="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png" rel="icon" type="image/x-icon" />
<link rel="icon" sizes="192x192" href="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png">

<meta name="keywords" content="SignalminigBTC" />
<meta property="og:image" content="/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png" />

<meta name="msapplication-square310x310logo" content="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png">
<meta name="msapplication-square70x70logo" content="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png">
<meta name="msapplication-square150x150logo" content="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png">
<meta name="msapplication-wide310x150logo" content="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png">

<link rel="apple-touch-icon-precomposed" href="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png">
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png" />


<meta property="og:site_name" content="SignalminigBTC">
<meta property="og:title" content="Trading With SignalminigBTC" />
<meta name="description" content="SignalminigBTC???
INVEST IN A LEADING
TRADE AND INVESTMENT
COMPANY, OPERATING IN
THE UK. 
SERVICES INCLUDE: FOREX TRADING
CRYPTOCURRENCIES, STOCKS & COMMODITIES INVESTMENTS. OIL & GAS, REAL ESTATE INVESTMENTS, MARKET
RESEARCH AND ANALYSIS:
ASSISTING BOTH INDIVIDUALS & COMPANIES INVEST IN THE 
COMMERCIAL MARKET.TRAINING CLIENTS & INVESTORS TO BECOME
EXPERTISE.???">
<meta property="og:description" content="SignalminigBTC???
INVEST IN A LEADING
TRADE AND INVESTMENT
COMPANY, OPERATING IN
THE UK. 
SERVICES INCLUDE: FOREX TRADING
CRYPTOCURRENCIES, STOCKS & COMMODITIES INVESTMENTS. OIL & GAS, REAL ESTATE INVESTMENTS, MARKET
RESEARCH AND ANALYSIS:
ASSISTING BOTH INDIVIDUALS & COMPANIES INVEST IN THE 
COMMERCIAL MARKET.TRAINING CLIENTS & INVESTORS TO BECOME
EXPERTISE.???">
<meta property="og:type" content="website" />


</head>
<body>

<script>
  function functionConfirm(msg, myYes, myNo) {
    var confirmBox = $("#confirm");
    confirmBox.find(".message").text(msg);
    confirmBox.find(".yes,.no").unbind().click(function() {
      confirmBox.fadeOut();
    });
    confirmBox.find(".yes").click(myYes);
    confirmBox.find(".no").click(myNo);
    confirmBox.fadeIn();
  }
</script>
<div id="confirm">
  <div class="shadow rounded container border">
      <div class="message p-3"></div>
      <div class="text-right border-top p-3 bg-light">
        <button aria-label="Yes" class="btn btn-primary yes">Yes</button>
        <button aria-label="No" class="btn btn-danger no">No</button>
      </div>
  </div>
  
</div> 

<nav class="navbar navbar-expand-lg bg-primary navbar-dark text-light py-1" style="position: relative; z-index: 20000">
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" type="button" id="menu_btn">
      <img src="/themes/custom/images/signs.svg" style="width: 30px" >
    </button>
    <!-- Brand -->
    
    <a class="navbar-brand mr-auto" href="/dashboard">
      <img src="/storage/app/public/photos/logo.png" title="SignalminigBTC" style="height: 40px"/>
    </a>
  
	<ul class="navbar-nav ml-auto" style="-ms-flex-direction: row; flex-direction: row;">
	    
		<li class="nav-item dropdown">
			<a class="nav-link pl-2 pr-0" href="#" id="navbardrop" data-toggle="dropdown">
				<span class="d-none d-md-inline">Hello, Pius joe</span>
				<img src="/themes/custom/images/avatar.png" style="width: 30px; height:30px" class="rounded-circle ml-2"/>
			</a>
			<div class="dropdown-menu dropdown-menu-right" style="position: absolute;">
				<a class="dropdown-item" href="/account-settings">Pius joe</a>
				
				<a class="dropdown-item" href="/account-settings">Change Password</a>
				
				<div class="dropdown-divider"></div> 
				<a class="dropdown-item" href="/logout"  ><i class="fa fa-power-off"></i> Sign Out</a>
				 <!-- <form id="logout-form" action="/logout" method="POST"
				 style="display: none;">
				 <input type="hidden" name="_token" value="KPbcaLWqQfxVKj57rTh1NL37IyZ3Q3eTSJU5ai83">
			 </form> -->
			</div>
		</li>
	</ul>
	
<br>	
	
  </nav>
  
<script src="https://widgets.coingecko.com/coingecko-coin-price-marquee-widget.js"></script>
<coingecko-coin-price-marquee-widget  coin-ids="bitcoin,ethereum,eos,ripple,litecoin" currency="usd" background-color="#FFF" locale="en" font-color="#333"></coingecko-coin-price-marquee-widget>
 
<div class="udex-container">
	<div class="udex-sidebar udex-collapse" id="mySidebar">
        <ul class="nav flex-column">
            <li class="nav-item "><a href="/dashboard" class="nav-link"><i class="fas fa-compass"></i> Dashboard</a></li>
        </ul>
        <div class="px-4 py-2 font-weight-bold">Fund</div>
        <ul class="nav flex-column">
        
            <li class="nav-item "><a class="nav-link" href="/deposits"> <i class="fa fa-inbox"></i> Deposit Funds</a></li>
            
            <li class="nav-item "><a class="nav-link" href="/withdrawals/<%=user._id%>"> <i class="far fa-money-bill-alt"></i> Withdraw Funds</a></li>
                <li class="nav-item "><a class="nav-link" href="/depositHistory/<%=user._id%>"> <i class="fa fa-history"></i>Deposit History</a></li>
                <li class="nav-item "><a class="nav-link" href="/widthdrawHistory/<%=user._id%>"> <i class="fa fa-history"></i>Widthdraw History </a></li>
        
        </ul>
        <div class="px-4 py-2 font-weight-bold">Others</div>
        <ul class="nav flex-column">
            <li>
                <a class="nav-link" href="/buy-copytrading"> <i class="fas fa-copy fa-2x"></i> Copy Expert</a>
                
            </li>
                <li class="nav-item "><a class="nav-link" href="/signal"> <i class="fa fa-signal"></i> Purchase Signal</a></li>
                    <li class="nav-item "><a class="nav-link" href="/loan"> <i class="far fa-clone fa-2x"></i> Loan</a></li>
            <li class="nav-item "><a class="nav-link" href="/viewloan/<%=user._id%>"> <i class="far fa-eye fa-2x"></i> View loans</a></li>
            <li class="nav-item "><a class="nav-link" href="/buy-plan"> <i class="fa fa-suitcase"></i> Upgrade Account</a></li>
            
            <li class="nav-item "><a class="nav-link" href="/myplans/<%=user._id%>"> <i class="fa fa-briefcase"></i> My Plans</a></li>
            <li class="nav-item "><a class="nav-link" href="/referuser"> <i class="fa fa-crosshairs"></i> Affiliate Program</a></li>
                    <li class="nav-item "><a class="nav-link" href="/verify-account"> <i class="fa fa-id-card"></i> Verify Account</a></li>
                <li class="nav-item "><a class="nav-link d-flex" href="/tradinghistory/<%=user._id%>"> <i class="far fa-money-bill-alt"></i> Profit  History
                
            </a>
        </li>
            <li class="nav-item "><a class="nav-link" href="/support"> <i class="fa fa-bullhorn"></i> Support</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout" > <i class="fa fa-power-off"></i> Logout</a>
            
            </li>
        </ul>
    </div>


<div class="udex-main" id="main" style="position: relative;">
	<div class="container">
	
	
		<li class="breadcrumb-item"><a href="">Home</a></li>
		<li class="breadcrumb-item active">Dashboard</li>
	</ul>	
	<h3 class="font-weight-bold mb-3">Make Deposit</h3>
	<div class="row">
				<div class="col-12 col-md-3 py-2">
			<div class="card text-center">
				<div class="card-header"><h5 class="m-0">Monentum Signals</h5></div>
				<div class="card-body p-0">
					<h5 class="font-weight-bold text-center my-3"> Signal Price: € 1500</h5>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Percentage: 30.5%</li>
					</ul>
				</div>
				<button type="button" class="btn btn-primary px-4 btn-sm" data-toggle="modal"
                    data-target="#exampleModal1">
                    Subscribe Now
                </button>
			</div>
		</div>
				<div class="col-12 col-md-3 py-2">
			<div class="card text-center">
				<div class="card-header"><h5 class="m-0">Breakout Signals</h5></div>
				<div class="card-body p-0">
					<h5 class="font-weight-bold text-center my-3"> Signal Price: € 3000</h5>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Percentage: 44.8%</li>
					</ul>
				</div>
				<button type="button" class="btn btn-primary px-4 btn-sm" data-toggle="modal"
                    data-target="#exampleModal2">
                    Subscribe Now
                </button>
			</div>
		</div>
				<div class="col-12 col-md-3 py-2">
			<div class="card text-center">
				<div class="card-header"><h5 class="m-0">Buying Oversold</h5></div>
				<div class="card-body p-0">
					<h5 class="font-weight-bold text-center my-3"> Signal Price: € 5000</h5>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Percentage: 50.1%</li>
					</ul>
				</div>
				<button type="button" class="btn btn-primary px-4 btn-sm" data-toggle="modal"
                    data-target="#exampleModal4">
                    Subscribe Now
                </button>
			</div>
		</div>
				<div class="col-12 col-md-3 py-2">
			<div class="card text-center">
				<div class="card-header"><h5 class="m-0">Trend Signal</h5></div>
				<div class="card-body p-0">
					<h5 class="font-weight-bold text-center my-3"> Signal Price: € 7500</h5>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Percentage: 60.2%</li>
					</ul>
				</div>
				<button type="button" class="btn btn-primary px-4 btn-sm" data-toggle="modal"
                    data-target="#exampleModal5">
                    Subscribe Now
                </button>
			</div>
		</div>
				<div class="col-12 col-md-3 py-2">
			<div class="card text-center">
				<div class="card-header"><h5 class="m-0">BTC Miner S9 Data Circuit</h5></div>
				<div class="card-body p-0">
					<h5 class="font-weight-bold text-center my-3"> Signal Price: € 10000</h5>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Percentage: 75.3%</li>
					</ul>
				</div>
				<button type="button" class="btn btn-primary px-4 btn-sm" data-toggle="modal"
                    data-target="#exampleModal7">
                    Subscribe Now
                </button>
			</div>
		</div>
				<div class="col-12 col-md-3 py-2">
			<div class="card text-center">
				<div class="card-header"><h5 class="m-0">AntMiner-S7-4.8THs-1250w</h5></div>
				<div class="card-body p-0">
					<h5 class="font-weight-bold text-center my-3"> Signal Price: € 12500</h5>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Percentage: 85.4%</li>
					</ul>
				</div>
				<button type="button" class="btn btn-primary px-4 btn-sm" data-toggle="modal"
                    data-target="#exampleModal8">
                    Subscribe Now
                </button>
			</div>
		</div>
				<div class="col-12 col-md-3 py-2">
			<div class="card text-center">
				<div class="card-header"><h5 class="m-0">S9 Mining Hardware ASIC Hash</h5></div>
				<div class="card-body p-0">
					<h5 class="font-weight-bold text-center my-3"> Signal Price: € 15000</h5>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Percentage: 92%</li>
					</ul>
				</div>
				<button type="button" class="btn btn-primary px-4 btn-sm" data-toggle="modal"
                    data-target="#exampleModal9">
                    Subscribe Now
                </button>
			</div>
		</div>
				<div class="col-12 col-md-3 py-2">
			<div class="card text-center">
				<div class="card-header"><h5 class="m-0">Bitfury-B8-Bitcoin-50-THS</h5></div>
				<div class="card-body p-0">
					<h5 class="font-weight-bold text-center my-3"> Signal Price: € 20000</h5>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Percentage: 100%</li>
					</ul>
				</div>
				<button type="button" class="btn btn-primary px-4 btn-sm" data-toggle="modal"
                    data-target="#exampleModal10">
                    Subscribe Now
                </button>
			</div>
		</div>
			</div>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Subscribe</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="post" action="/signal/<%=user._id%>">
						<input type="hidden" name='asset' value="Monentum Signals" class="form-control" readonly>
					<div class="form-group mb-2 text-left">
						<label for="">Amount (€)</label>
						<input type="number" name='amount' id="amount" value="<%=user.balance%>" class="form-control" readonly>
						<small>Amount will be deducted from your account balance.</small>
					</div>
					<div class="form-group mb-2 text-left">
						<button class="btn btn-primary">Subscribe</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Subscribe</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="post" action="/signal/<%=user._id%>">
							<input type="hidden" name='asset' id="asset" value="Breakout Signals" class="form-control" readonly>
					<div class="form-group mb-2 text-left">
						<label for="">Amount (€)</label>
						<input type="number" name='amount' id="amount"  value="<%=user.balance%>" class="form-control" readonly>
						<small>Amount will be deducted from your account balance.</small>
					</div>
					<div class="form-group mb-2 text-left">
						<button class="btn btn-primary">Subscribe</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Subscribe</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="post" action="/signal/<%=user._id%>">
					<!-- <input type="hidden" name="_token" value="KPbcaLWqQfxVKj57rTh1NL37IyZ3Q3eTSJU5ai83">		 -->
								<input type="hidden" name='asset' id="asset" value="Buying Oversold" class="form-control" readonly>
					<div class="form-group mb-2 text-left">
						<label for="">Amount (€)</label>
						<input type="number" name='amount' id="amount" value="<%=user.balance%>" class="form-control" readonly>
						<small>Amount will be deducted from your account balance.</small>
					</div>
					<div class="form-group mb-2 text-left">
						<button class="btn btn-primary">Subscribe</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Subscribe</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="POST" action="/subscribe-to-signal">
					<!-- <input type="hidden" name="_token" value="KPbcaLWqQfxVKj57rTh1NL37IyZ3Q3eTSJU5ai83">	 -->
									<input type="hidden" name='asset' value="Trend Signal" class="form-control" readonly>
					<div class="form-group mb-2 text-left">
						<label for="">Amount (€)</label>
						<input type="number" name='amount' value="7500" class="form-control" readonly>
						<small>Amount will be deducted from your account balance.</small>
					</div>
					<div class="form-group mb-2 text-left">
						<button class="btn btn-primary">Subscribe</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Subscribe</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="post" action="/signal/<%=user._id%>">
							<input type="hidden" name='asset' id="asset" value="BTC Miner S9 Data Circuit" class="form-control" readonly>
					<div class="form-group mb-2 text-left">
						<label for="">Amount (€)</label>
						<input type="number" name='amount' id="amount" value="<%=user.balance%>" class="form-control" readonly>
						<small>Amount will be deducted from your account balance.</small>
					</div>
					<div class="form-group mb-2 text-left">
						<button class="btn btn-primary">Subscribe</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Subscribe</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="post" action="/signal/<%=user._id%>">
							<input type="hidden" name='asset' id="asset" value="AntMiner-S7-4.8THs-1250w" class="form-control" readonly>
					<div class="form-group mb-2 text-left">
						<label for="">Amount (€)</label>
						<input type="number" name='amount' id="amount" value="<%=user.balance%>" class="form-control" readonly>
						<small>Amount will be deducted from your account balance.</small>
					</div>
					<div class="form-group mb-2 text-left">
						<button class="btn btn-primary">Subscribe</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="exampleModal9" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Subscribe</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="post" action="/signal/<%=user._id%>">
				
								<input type="hidden" name='asset' id="asset" value="S9 Mining Hardware ASIC Hash" class="form-control" readonly>
					<div class="form-group mb-2 text-left">
						<label for="">Amount (€)</label>
						<input type="number" name='amount' id="amount" value="<%=user.balance%>" class="form-control" readonly>
						<small>Amount will be deducted from your account balance.</small>
					</div>
					<div class="form-group mb-2 text-left">
						<button class="btn btn-primary">Subscribe</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="exampleModal10" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Subscribe</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="post" action="/signal/<%=user._id%>">
								<input type="hidden" name='asset' id="asset" value="Bitfury-B8-Bitcoin-50-THS" class="form-control" readonly>
					<div class="form-group mb-2 text-left">
						<label for="">Amount (€)</label>
						<input type="number" name='amount' id="amount" value="<%=user.balance%>" class="form-control" readonly>
						<small>Amount will be deducted from your account balance.</small>
					</div>
					<div class="form-group mb-2 text-left">
						<button class="btn btn-primary">Subscribe</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="dash_footer mt-4 small">
	<p>
		Copyright © SignalminigBTC Company offers a simple and transparent mechanism for attracting investments and making profits.
		<br />
	</p>
	</div>	
</div>

<div class="modal" id="profileModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      

      <!-- Modal body -->
      

    </div>
  </div>
</div>
</div>

 
<div class="udex-overlay" id="myOverlay"></div>

<!-- The Modal -->
<div class="modal fade" id="noticeModal" role="dialog">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Notice!</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Do not pay to any wallet address aside from the company's Official wallet
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


<script>
	function copyFunction(text){
		var dummy = document.createElement("textarea");
		document.body.appendChild(dummy);
		dummy.value = text;
		dummy.select();
		document.execCommand("copy");
		document.body.removeChild(dummy);
		alert('Copied');
	}
</script>
<script>
if ($(window).width() > 992) {
	boxPosition = $(".udex-sidebar").offset().top;
	$(window).scroll(function(){
	   var isFixed = $(".udex-sidebar").css("position") === "fixed";
	   if($(window).scrollTop() > boxPosition && !isFixed){
				$(".udex-sidebar").css({position:"fixed", top: "0px"});
	   }else if($(window).scrollTop() < boxPosition){
			$(".udex-sidebar").css({position:"absolute", top: "auto"});
	   }
	});
}
</script>
<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>

<script>
$("#menu_btn").click( function(){
	$("#mySidebar").toggle();
	$("#main, .udex_footer").toggleClass("cubic-left");
	$("body").toggleClass("udex_overflow");
});
$("#account_menu").click( function(){
	$("#myAccount").toggle();
	$("#main, .udex_footer").toggleClass("cubic-right");
	$("body").toggleClass("udex_overflow");
});
</script>
 
  <style>
  .skiptranslate {
    display: none !important;
  }
  body {
    top: 0 !important;
  }
</style>
<div id="google_translate_element" style="display:none"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: "en"}, 'google_translate_element');
}
</script>

<script src='https://quidinvestmentgroup.com/user/assets/libs/jquery/jquery.min.js'></script>

<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


    
    <button data-bs-toggle="modal" data-bs-target="#Error" id="ErrorButton" style="display: none">click</button>

            <button data-bs-toggle="modal" data-bs-target="#Success" id="SuccessButton" style="display: none">click</button>



            <div class="modal fade dialogbox" id="Success" data-bs-backdrop="static" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-icon text-success">
                        <i class="fas fa-check-circle"></i>
                    </div>
                    <div class="modal-header">
                        <h5 class="modal-title">Success</h5>
                    </div>
                    <div class="modal-body text-white">
                         
                                    </div>
                    <div class="modal-footer">
                        <div class="btn-inline">
                            <a href="#" class="btn btn-primary" data-bs-dismiss="modal">CLOSE</a>
                        </div>
                    </div>
                </div>
                </div>
                </div>

                <div class="modal fade dialogbox" id="Error" data-bs-backdrop="static" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-icon text-danger">
                            <i class="fas fa-times-circle"></i>
                        </div>
                        <div class="modal-header">
                            <h5 class="modal-title">Error</h5>
                        </div>
                        <div class="modal-body text-white">
                             
                                        </div>
                        <div class="modal-footer">
                            <div class="btn-inline">
                                <a href="#" class="btn btn-primary " data-bs-dismiss="modal">CLOSE</a>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>

                    <div class="gtranslate_wrapper"></div>
<script>window.gtranslateSettings = {"default_language":"en","wrapper_selector":".gtranslate_wrapper","flag_style":"3d"}</script>
<script src="https://cdn.gtranslate.net/widgets/latest/float.js" defer></script>



</body>
</html>