<!doctype html>
<html class="no-js" lang="en-US"><head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png" rel="icon" type="image/x-icon" />

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/themes/custom/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="/themes/custom/js/jquery.min.js"></script>
<!-- Popper JS -->
<script src="/themes/custom/js/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="/themes/custom/js/bootstrap.min.js"></script>
<script src="/themes/custom/js/jquery.form.js"></script>

<script src="/themes/custom/js/moment.js"></script>
<script src="/themes/custom/js/livestamp.min.js"></script>

<link href="/themes/custom/css/animate.css" rel="stylesheet" />
<link href="/themes/custom/css/main.css" rel="stylesheet"/>
<link href="/themes/custom/css/home.css" rel="stylesheet"/>

<link rel="stylesheet" type="text/css" href="/themes/custom/slick/slick.css">
<link rel="stylesheet" type="text/css" href="/themes/custom/slick/slick-theme.css">

<title>AdminDashboard</title>
<link rel="manifest" href="/themes/custom/js/manifest.json">
<meta name="theme-color" content="#4D7DE6">
<meta name="msapplication-navbutton-color" content="#4D7DE6">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#4D7DE6">


<meta name="theme-color" content="#4D7DE6">
<meta name="msapplication-navbutton-color" content="#4D7DE6">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#4D7DE6">

<link href="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png" rel="icon" type="image/x-icon" />
<link rel="icon" sizes="192x192" href="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png">

<meta name="keywords" content="SignalminigBTC" />
<meta property="og:image" content="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png" />

<meta name="msapplication-square310x310logo" content="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png">
<meta name="msapplication-square70x70logo" content="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png">
<meta name="msapplication-square150x150logo" content="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png">
<meta name="msapplication-wide310x150logo" content="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png">

<link rel="apple-touch-icon-precomposed" href="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png">
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png" />


<meta property="og:site_name" content="SignalminigBTC>
<meta property="og:title" content="Trading With SignalminigBTC" />
<meta name="description" content="SignalminigBTC??
INVEST IN A LEADING
TRADE AND INVESTMENT
COMPANY, OPERATING IN
THE UK. 
SERVICES INCLUDE: FOREX TRADING
CRYPTOCURRENCIES, STOCKS & COMMODITIES INVESTMENTS. OIL & GAS, REAL ESTATE INVESTMENTS, MARKET
RESEARCH AND ANALYSIS:
ASSISTING BOTH INDIVIDUALS & COMPANIES INVEST IN THE 
COMMERCIAL MARKET.TRAINING CLIENTS & INVESTORS TO BECOME
EXPERTISE.???">
<meta property="og:description" content="SignalminigBTC???
INVEST IN A LEADING
TRADE AND INVESTMENT
COMPANY, OPERATING IN
THE UK. 
SERVICES INCLUDE: FOREX TRADING
CRYPTOCURRENCIES, STOCKS & COMMODITIES INVESTMENTS. OIL & GAS, REAL ESTATE INVESTMENTS, MARKET
RESEARCH AND ANALYSIS:
ASSISTING BOTH INDIVIDUALS & COMPANIES INVEST IN THE 
COMMERCIAL MARKET.TRAINING CLIENTS & INVESTORS TO BECOME
EXPERTISE.???">
<meta property="og:type" content="website" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>
<body>

<script>
  function functionConfirm(msg, myYes, myNo) {
    var confirmBox = $("#confirm");
    confirmBox.find(".message").text(msg);
    confirmBox.find(".yes,.no").unbind().click(function() {
      confirmBox.fadeOut();
    });
    confirmBox.find(".yes").click(myYes);
    confirmBox.find(".no").click(myNo);
    confirmBox.fadeIn();
  }
</script>
<div id="confirm">
  <div class="shadow rounded container border">
      <div class="message p-3"></div>
      <div class="text-right border-top p-3 bg-light">
        <button aria-label="Yes" class="btn btn-primary yes">Yes</button>
        <button aria-label="No" class="btn btn-danger no">No</button>
      </div>
  </div>
  
</div> 

<nav class="navbar navbar-expand-lg bg-primary navbar-dark text-light py-1" style="position: relative; z-index: 20000">
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" type="button" id="menu_btn">
      <img src="/themes/custom/images/signs.svg" style="width: 30px" >
    </button>
    <!-- Brand -->
    
    <a class="navbar-brand mr-auto" href="/storage/app/public/photos/logo.png" title="SignalminigBTC" style="height: 40px" wid>
    </a>
  
	<ul class="navbar-nav ml-auto" style="-ms-flex-direction: row; flex-direction: row;">
	    
		<li class="nav-item dropdown">
			<a class="nav-link pl-2 pr-0" href="#" id="navbardrop" data-toggle="dropdown">
				<span class="d-none d-md-inline">Hello, <%=user.fullname%></span>
				<img src="/themes/custom/images/avatar.png" style="width: 30px; height:30px" class="rounded-circle ml-2"/>
			</a>
			<div class="dropdown-menu dropdown-menu-right" style="position: absolute;">
				<div class="dropdown-divider"></div> 
				<a class="dropdown-item" href="/logout"  ><i class="fa fa-power-off"></i> Sign Out</a>
				
			</div>
		</li>
	</ul>
	
<br>	
	
  </nav>
  
<script src="https://widgets.coingecko.com/coingecko-coin-price-marquee-widget.js"></script>
<coingecko-coin-price-marquee-widget  coin-ids="bitcoin,ethereum,eos,ripple,litecoin" currency="usd" background-color="#FFF" locale="en" font-color="#333"></coingecko-coin-price-marquee-widget>
 
<div class="udex-container">
    <div class="udex-sidebar udex-collapse" id="mySidebar">
        <ul class="nav flex-column">
            <li class="nav-item "><a href="/adminRoute" class="nav-link"><i class="fas fa-compass"></i> Dashboard</a></li>
        </ul>
        <div class="px-4 py-2 font-weight-bold">Fund</div>
        <ul class="nav flex-column">
        
            <li class="nav-item "><a class="nav-link" href="/allFunding"> <i class="fa fa-inbox"></i> All Deposit </a></li>
            
            <li class="nav-item "><a class="nav-link" href="/allWidthdrawals"> <i class="far fa-money-bill-alt"></i> All Withdrawals </a></li>
               
        
        </ul>
        <div class="px-4 py-2 font-weight-bold">Others</div>
        <ul class="nav flex-column">
            <li>
                <a class="nav-link" href="/allCopytrades"> <i class="fas fa-copy fa-2x"></i> All Copytrades</a>
                
            </li>
                <li class="nav-item "><a class="nav-link" href="/allSignal"> <i class="fa fa-signal"></i> All Signal</a></li>
                    <li class="nav-item "><a class="nav-link" href="/allLoan"> <i class="far fa-clone fa-2x"></i> Loan</a></li>
            <li class="nav-item "><a class="nav-link" href="/allPlan"> <i class="fa fa-suitcase"></i>All  Upgrade</a></li>
                    <li class="nav-item "><a class="nav-link" href="/allVerify"> <i class="fa fa-id-card"></i> Verify Account</a></li>
              
            <li class="nav-item "><a class="nav-link" href="/allSupport"> <i class="fa fa-bullhorn"></i>All S-messages</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout" > <i class="fa fa-power-off"></i> Logout</a>
            
            </li>
        </ul>
    </div>

    <!-- Title -->
    

<div class="udex-main" id="main">
    
    <div>
    </div>
<div>
      <div>
    </div>


<div>
   
        <div>
        
</div>


<div>
    
</div>

<div>
        <!-- <div class="row">
              <div class="col-lg-12">
                  <div class="alert alert-group alert-danger alert-icon  fade show" role="alert">
                      
                      <div class="alert-content">
                          <p>You are required to upgrade to  plan. 
                          <span class='badge badge-warning'> <a href="/buy-plan"  class='btn btn-warning'>Upgrade Now</a></span>
                       </p>
                      </div>
              </div>
          </div>
          </div>    -->
          
        <div class="row">
          <div class="col py-3" style="background-color: white;">

            <div class="row">
              <div class="col">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><%= user.fullname %></li>
                  </ol>
                </nav>
              </div>
              <div class="col text-end fw-lighter">
                <b>Last Updated</b>
                <b >UserId:</b><%=user._id%>
              </div>
            </div>
          
          </div>
          <ul class="list-group" style="background-color: white">
          
            <li class="list-group-item"> 
              <div class="row">
                <div class="col" style="max-width: 140px"> <b style="color: black;">Name:</b></div>
                <div class="col" style="color: black;"><%= user.fullname %> </div>
              </div>
            </li>
          
            <li class="list-group-item"> 
              <div class="row">
                <div class="col" style="max-width: 140px"> <b style="color: black;">Tel:</b></div>
                <div class="col" style="color: black;"><%= user.tel %></div>
              </div>
            </li>
          
            <li class="list-group-item"> 
              <div class="row">
                <div class="col" style="max-width: 140px"> <b style="color: black;">Email:</b></div>
                <div class="col" style="color: black;"><%= user.email %></div>
              </div>
            </li>
               <li class="list-group-item"> 
              <div class="row">
                <div class="col" style="max-width: 140px"> <b style="color: black;">Account No:</b></div>
                <div class="col" style="color: black;"><%= user.accNo %></div>
              </div>
            </li>  
             <li class="list-group-item"> 
              <div class="row">
                <div class="col" style="max-width: 140px"> <b style="color: black;">Country:</b></div>
                <div class="col" style="color: black; display: flex; flex-wrap: wrap;"><%= user.country %></div>
              </div>
            </li>
            
            <li class="list-group-item"> 
              <div class="row">
                <div class="col" style="max-width: 140px"> <b style="color: black;">signals ID:</b></div>
                <div class="col" style="color: black; display: flex; flex-wrap: wrap;"><%= user.signals %></div>
              </div>
            </li>
            
    
            <li class="list-group-item"> 
              <div class="row">
                <div class="col" style="max-width: 140px"> <b style="color: black;">Deposits ID:</b></div>
                <div class="col" style="color: black;"><%= user.deposits %></div>
              </div>
            </li>
            
            <li class="list-group-item"> 
              <div class="row">
                <div class="col" style="max-width: 140px"> <b style="color: black;">copytrades ID:</b></div>
                <div class="col" style="color: black; display: flex; flex-wrap: wrap;"><%= user.copytrades %></div>
              </div>
            </li>
            
             
            <li class="list-group-item"> 
              <div class="row">
                <div class="col" style="max-width: 140px"> <b style="color: black;">livetrades ID:</b></div>
                <div class="col" style="color: black; display: flex; flex-wrap: wrap;"><%= user.livetrades %></div>
              </div>
            </li>
            
            <li class="list-group-item"> 
              <div class="row">
                <div class="col" style="max-width: 140px"> <b style="color: black;">upgrades ID:</b></div>
                <div class="col" style="color: black; display: flex; flex-wrap: wrap;"><%= user.upgrades %></div>
              </div>
            </li>

            <li class="list-group-item"> 
              <div class="row">
                <div class="col" style="max-width: 140px"> <b style="color: black;">Loan ID:</b></div>
                <div class="col" style="color: black; display: flex; flex-wrap: wrap;"><%= user.Loan%></div>
              </div>
            </li>

            <li class="list-group-item"> 
              <div class="row">
                <div class="col" style="max-width: 140px"> <b style="color: black;">verified ID:</b></div>
                <div class="col" style="color: black; display: flex; flex-wrap: wrap;"><%= user.verified %></div>
              </div>
            </li>

            <li class="list-group-item"> 
              <div class="row">
                <div class="col" style="max-width: 140px"> <b style="color: black;">widthdraws ID:</b></div>
                <div class="col" style="color: black; display: flex; flex-wrap: wrap;"><%= user.widthdraws%></div>
              </div>
            </li>

            <li class="list-group-item"> 
              <div class="row">
                <div class="col" style="max-width: 140px"> <b style="color: black;">Tickets ID:</b></div>
                <div class="col" style="color: black; display: flex; flex-wrap: wrap;"><%= user.Tickets%></div>
              </div>
            </li>
    
             <li class="list-group-item"> 
              <div class="row">
                <div class="col" style="max-width: 140px"> <b style="color: black;">Password:</b></div>
                <div class="col" style="color: black;"><%= user.password%> </div>
              </div>
            </li>
    
            <li class="list-group-item"> 
              <div class="row">
                <div class="col" style="max-width: 140px"> <b style="color: black;">profit:</b></div>
                <div class="col" style="color: black;"><%=user.profit%> </div>
              </div>
            </li>

            <li class="list-group-item"> 
              <div class="row">
                <div class="col" style="max-width: 140px"> <b style="color: black;"> Balance:</b></div>
                <div class="col" style="color: black;"><%=user.balance%> </div>
              </div>
            </li>

            <li class="list-group-item"> 
              <div class="row">
                <div class="col" style="max-width: 140px"> <b style="color: black;">totalwithdraw:</b></div>
                <div class="col" style="color: black;"><%=user.totalwithdraw%> </div>
              </div>
            </li>
            <li class="list-group-item"> 
              <div class="row">
                <div class="col" style="max-width: 140px"> <b style="color: black;">Date Created:</b></div>
                <div class="col" style="color: black;"><%= user.createdAt%> </div>
              </div>
            </li>
          
            <li class="list-group-item"> 
              <div class="row">
                <div class="col" style="max-width: 140px"> <b style="color: black;">Date Modified:</b></div>
                <div class="col" style="color: black;"><%= user.updatedAt%> </div>
              </div>
            </li>
          
          </ul>
       <!-- content -->
    </div>
    
   

<div class="dash_footer mt-4 small">
	<p>
		Copyright © SignalminigBTC Company offers a simple and transparent mechanism for attracting investments and making profits.
		<br />
	</p>
	</div>	
</div>



 
<div class="udex-overlay" id="myOverlay"></div>

<!-- The Modal -->
<div class="modal fade" id="noticeModal" role="dialog">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Notice!</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Do not pay to any wallet address aside from the company's Official wallet
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


<script>
	function copyFunction(text){
		var dummy = document.createElement("textarea");
		document.body.appendChild(dummy);
		dummy.value = text;
		dummy.select();
		document.execCommand("copy");
		document.body.removeChild(dummy);
		alert('Copied');
	}
</script>
<script>
if ($(window).width() > 992) {
	boxPosition = $(".udex-sidebar").offset().top;
	$(window).scroll(function(){
	   var isFixed = $(".udex-sidebar").css("position") === "fixed";
	   if($(window).scrollTop() > boxPosition && !isFixed){
				$(".udex-sidebar").css({position:"fixed", top: "0px"});
	   }else if($(window).scrollTop() < boxPosition){
			$(".udex-sidebar").css({position:"absolute", top: "auto"});
	   }
	});
}
</script>
<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>

<script>
$("#menu_btn").click( function(){
	$("#mySidebar").toggle();
	$("#main, .udex_footer").toggleClass("cubic-left");
	$("body").toggleClass("udex_overflow");
});
$("#account_menu").click( function(){
	$("#myAccount").toggle();
	$("#main, .udex_footer").toggleClass("cubic-right");
	$("body").toggleClass("udex_overflow");
});
</script>
 
  <style>
  .skiptranslate {
    display: none !important;
  }
  body {
    top: 0 !important;
  }
</style>
<div id="google_translate_element" style="display:none"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: "en"}, 'google_translate_element');
}
</script>

<script src='https://quidinvestmentgroup.com/user/assets/libs/jquery/jquery.min.js'></script>

<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


    
    <button data-bs-toggle="modal" data-bs-target="#Error" id="ErrorButton" style="display: none">click</button>

            <button data-bs-toggle="modal" data-bs-target="#Success" id="SuccessButton" style="display: none">click</button>



            <div class="modal fade dialogbox" id="Success" data-bs-backdrop="static" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-icon text-success">
                        <i class="fas fa-check-circle"></i>
                    </div>
                    <div class="modal-header">
                        <h5 class="modal-title">Success</h5>
                    </div>
                    <div class="modal-body text-white">
                         
                                    </div>
                    <div class="modal-footer">
                        <div class="btn-inline">
                            <a href="#" class="btn btn-primary" data-bs-dismiss="modal">CLOSE</a>
                        </div>
                    </div>
                </div>
                </div>
                </div>

                <div class="modal fade dialogbox" id="Error" data-bs-backdrop="static" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-icon text-danger">
                            <i class="fas fa-times-circle"></i>
                        </div>
                        <div class="modal-header">
                            <h5 class="modal-title">Error</h5>
                        </div>
                        <div class="modal-body text-white">
                             
                                        </div>
                        <div class="modal-footer">
                            <div class="btn-inline">
                                <a href="#" class="btn btn-primary " data-bs-dismiss="modal">CLOSE</a>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>

                    <div class="gtranslate_wrapper"></div>
<script>window.gtranslateSettings = {"default_language":"en","wrapper_selector":".gtranslate_wrapper","flag_style":"3d"}</script>
<script src="https://cdn.gtranslate.net/widgets/latest/float.js" defer></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<!-- <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script> -->
</body>
</html>

