<!doctype html>
<html class="no-js" lang="en-US"><head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png" rel="icon" type="image/x-icon" />

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/themes/custom/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="/themes/custom/js/jquery.min.js"></script>
<!-- Popper JS -->
<script src="/themes/custom/js/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="/themes/custom/js/bootstrap.min.js"></script>
<script src="/themes/custom/js/jquery.form.js"></script>

<script src="/themes/custom/js/moment.js"></script>
<script src="/themes/custom/js/livestamp.min.js"></script>

<link href="/themes/custom/css/animate.css" rel="stylesheet" />
<link href="/themes/custom/css/main.css" rel="stylesheet"/>
<link href="/themes/custom/css/home.css" rel="stylesheet"/>
<link rel="stylesheet" href="/assets/depositMethod.css" />

<link rel="stylesheet" type="text/css" href="/themes/custom/slick/slick.css">
<link rel="stylesheet" type="text/css" href="/themes/custom/slick/slick-theme.css">

<title>Widthdrawal</title>
<link rel="manifest" href="/themes/custom/js/manifest.json">
<meta name="theme-color" content="#4D7DE6">
<meta name="msapplication-navbutton-color" content="#4D7DE6">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#4D7DE6">


<meta name="theme-color" content="#4D7DE6">
<meta name="msapplication-navbutton-color" content="#4D7DE6">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#4D7DE6">

<link href="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png" rel="icon" type="image/x-icon" />
<link rel="icon" sizes="192x192" href="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png">

<meta name="keywords" content="SignalminigBTC" />
<meta property="og:image" content="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png" />

<meta name="msapplication-square310x310logo" content="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png">
<meta name="msapplication-square70x70logo" content="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png">
<meta name="msapplication-square150x150logo" content="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png">
<meta name="msapplication-wide310x150logo" content="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png">

<link rel="apple-touch-icon-precomposed" href="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png">
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://worldexpertsvipdextrades.com/storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png" />


<meta property="og:site_name" content="SignalminigBTC>
<meta property="og:title" content="Trading With SignalminigBTC" />
<meta name="description" content="SignalminigBTC??
INVEST IN A LEADING
TRADE AND INVESTMENT
COMPANY, OPERATING IN
THE UK. 
SERVICES INCLUDE: FOREX TRADING
CRYPTOCURRENCIES, STOCKS & COMMODITIES INVESTMENTS. OIL & GAS, REAL ESTATE INVESTMENTS, MARKET
RESEARCH AND ANALYSIS:
ASSISTING BOTH INDIVIDUALS & COMPANIES INVEST IN THE 
COMMERCIAL MARKET.TRAINING CLIENTS & INVESTORS TO BECOME
EXPERTISE.???">
<meta property="og:description" content="SignalminigBTC???
INVEST IN A LEADING
TRADE AND INVESTMENT
COMPANY, OPERATING IN
THE UK. 
SERVICES INCLUDE: FOREX TRADING
CRYPTOCURRENCIES, STOCKS & COMMODITIES INVESTMENTS. OIL & GAS, REAL ESTATE INVESTMENTS, MARKET
RESEARCH AND ANALYSIS:
ASSISTING BOTH INDIVIDUALS & COMPANIES INVEST IN THE 
COMMERCIAL MARKET.TRAINING CLIENTS & INVESTORS TO BECOME
EXPERTISE.???">
<meta property="og:type" content="website" />


</head>
<body>

<script>
  function functionConfirm(msg, myYes, myNo) {
    var confirmBox = $("#confirm");
    confirmBox.find(".message").text(msg);
    confirmBox.find(".yes,.no").unbind().click(function() {
      confirmBox.fadeOut();
    });
    confirmBox.find(".yes").click(myYes);
    confirmBox.find(".no").click(myNo);
    confirmBox.fadeIn();
  }
</script>
<div id="confirm">
  <div class="shadow rounded container border">
      <div class="message p-3"></div>
      <div class="text-right border-top p-3 bg-light">
        <button aria-label="Yes" class="btn btn-primary yes">Yes</button>
        <button aria-label="No" class="btn btn-danger no">No</button>
      </div>
  </div>
  
</div> 

<nav class="navbar navbar-expand-lg bg-primary navbar-dark text-light py-1" style="position: relative; z-index: 20000">
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" type="button" id="menu_btn">
      <img src="/themes/custom/images/signs.svg" style="width: 30px" >
    </button>
    <!-- Brand -->
    
    <a class="navbar-brand mr-auto" href="/storage/app/public/photos/logo.png" title="SignalminigBTC" style="height: 40px" wid>
    </a>
  
	<ul class="navbar-nav ml-auto" style="-ms-flex-direction: row; flex-direction: row;">
	    
		<li class="nav-item dropdown">
			<a class="nav-link pl-2 pr-0" href="#" id="navbardrop" data-toggle="dropdown">
				<span class="d-none d-md-inline">Hello, <%=user.fullname%></span>
				<img src="/themes/custom/images/avatar.png" style="width: 30px; height:30px" class="rounded-circle ml-2"/>
			</a>
			<div class="dropdown-menu dropdown-menu-right" style="position: absolute;">
				<a class="dropdown-item" href="/account-settings"><%=user.fullname%></a>
				
				<a class="dropdown-item" href="/account-settings">Change Password</a>
				
				<div class="dropdown-divider"></div> 
				<a class="dropdown-item" href="/logout"  ><i class="fa fa-power-off"></i> Sign Out</a>
				
			</div>
		</li>
	</ul>
	
<br>	
	
  </nav>
  
<script src="https://widgets.coingecko.com/coingecko-coin-price-marquee-widget.js"></script>
<coingecko-coin-price-marquee-widget  coin-ids="bitcoin,ethereum,eos,ripple,litecoin" currency="usd" background-color="#FFF" locale="en" font-color="#333"></coingecko-coin-price-marquee-widget>
 
<div class="udex-container">
    <div class="udex-sidebar udex-collapse" id="mySidebar">
        <ul class="nav flex-column">
            <li class="nav-item "><a href="/dashboard" class="nav-link"><i class="fas fa-compass"></i> Dashboard</a></li>
        </ul>
        <div class="px-4 py-2 font-weight-bold">Fund</div>
        <ul class="nav flex-column">
        
            <li class="nav-item "><a class="nav-link" href="/deposits"> <i class="fa fa-inbox"></i> Deposit Funds</a></li>
            
            <li class="nav-item "><a class="nav-link" href="/withdrawals/<%=user._id%>"> <i class="far fa-money-bill-alt"></i> Withdraw Funds</a></li>
                <li class="nav-item "><a class="nav-link" href="/depositHistory/<%=user._id%>"> <i class="fa fa-history"></i>Deposit History</a></li>
                <li class="nav-item "><a class="nav-link" href="/widthdrawHistory/<%=user._id%>"> <i class="fa fa-history"></i>Widthdraw History </a></li>
        
        </ul>
        <div class="px-4 py-2 font-weight-bold">Others</div>
        <ul class="nav flex-column">
            <li>
                <a class="nav-link" href="/buy-copytrading"> <i class="fas fa-copy fa-2x"></i> Copy Expert</a>
                
            </li>
                <li class="nav-item "><a class="nav-link" href="/signal"> <i class="fa fa-signal"></i> Purchase Signal</a></li>
                    <li class="nav-item "><a class="nav-link" href="/loan"> <i class="far fa-clone fa-2x"></i> Loan</a></li>
            <li class="nav-item "><a class="nav-link" href="/viewloan/<%=user._id%>"> <i class="far fa-eye fa-2x"></i> View loans</a></li>
            <li class="nav-item "><a class="nav-link" href="/buy-plan"> <i class="fa fa-suitcase"></i> Upgrade Account</a></li>
            
            <li class="nav-item "><a class="nav-link" href="/myplans/<%=user._id%>"> <i class="fa fa-briefcase"></i> My Plans</a></li>
            <li class="nav-item "><a class="nav-link" href="/referuser"> <i class="fa fa-crosshairs"></i> Affiliate Program</a></li>
                    <li class="nav-item "><a class="nav-link" href="/verify-account"> <i class="fa fa-id-card"></i> Verify Account</a></li>
                <li class="nav-item "><a class="nav-link d-flex" href="/tradinghistory/<%=user._id%>"> <i class="far fa-money-bill-alt"></i> Profit  History
                
            </a>
        </li>
            <li class="nav-item "><a class="nav-link" href="/support"> <i class="fa fa-bullhorn"></i> Support</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout" > <i class="fa fa-power-off"></i> Logout</a>
            
            </li>
        </ul>
    </div>

    <!-- Title -->
    

<div class="udex-main" id="main">
    
    <div>
    </div>
<div>
      <div>
    </div>


<div>
   
        <div>
        
</div>


<div>
    
</div>

<div>
        <!-- <div class="row">
              <div class="col-lg-12">
                  <div class="alert alert-group alert-danger alert-icon  fade show" role="alert">
                      
                      <div class="alert-content">
                          <p>You are required to upgrade to  plan. 
                          <span class='badge badge-warning'> <a href="/buy-plan"  class='btn btn-warning'>Upgrade Now</a></span>
                       </p>
                      </div>
              </div>
          </div>
          </div>    -->
          
        <div class="row">
            <section class="jumbotron">
                <div class="container d-flex justify-content-center">
                        <div class="withdrawalContent">
                            <p class="writer">Withdrawal</p>
                            <hr />
                            <h4 class="title fw-semibold mt-3 mb-4">withdrawal Method</h4>
                            <p class="title fw-sm mt-3 mb-4" id="available">Eligible to widthdraw <span><%=user.currency%></span><%=user.balance%> </p>
              
                            <form action="/withdrawals/<%=user._id%>" method="post" autocomplete="off" id="withdrawal-form" class="was-validated">
                            <div class="dropdown mb-3 mt-2">
                   <select name="type" id="type" class="btn btn-secondary paymentMethod mt-3 mb-2"  required>
                          <option value="" style="font-size:30px;" class="form-control"><b>---Select Method---</b></option>
                          <option class="dropdown-menu dropdown-item" value="Bitcoin">Bitcoin</option>
                          <option class="dropdown-menu dropdown-item" value="Ethereum">Ethereum</option>
                          <option class="dropdown-menu dropdown-item" value="Litecoin">Litecoin</option>
                          <option class="dropdown-menu dropdown-item" value="BitcoinCash">BitcoinCash</option>
                          <option class="dropdown-menu dropdown-item" value="Skrill">Skrill</option>
                          <!--<option value="Paypal">Paypal</option>-->
                          <option class="dropdown-menu dropdown-item" value="Bank Transfer">Bank Transfer</option>
                      </select>
                            </div>
                            <div class="dropdown mb-3 mt-2" id="field1" style="display: None;">
                              <label for="input" class="label">Bitcoin Wallet:</label>
                            <input type="text" name="bitcoin_address" class="input" placeholder="BTC wallet Address" />
                            </div>
                            <div class="dropdown mb-3 mt-2" id="field2" style="display: None;">
                              <label for="input" class="label">Ethereum Wallet:</label>
                            <input type="text" name="ethereum_address" class="input" placeholder="Ethereum wallet Address" />
                            </div>
                            <div class="dropdown mb-3 mt-2" id="field3" style="display: None;">
                            <label for="input" class="label">Litecoin Wallet:</label>
                            <input type="text" name="litecoin_address" class="input" placeholder="Litecoin wallet Address" />
                            </div>
                            <div class="dropdown mb-3 mt-2" id="field4" style="display: None;">
                            <label for="input" class="label">Bitcoincash Wallet:</label>
                            <input type="text" name="bitcoincash_address" class="input" placeholder="Bitcoincash wallet Address" />
                            </div>
                            <div class="dropdown mb-3 mt-2" id="field5" style="display: None;">
                            <label for="input" class="label">Skrill:</label>
                            <input type="text" name="skrill_email" class="input" placeholder="Skrill" />
                            </div>
                            <div class="dropdown mb-3 mt-2" id="field7" style="display: None;">
                            <label for="input" class="label">Bank Name:</label>
                            <input type="text" name="bank_name" class="input" placeholder="Bank Name" />
                            </div>
                            <div class="dropdown mb-3 mt-2" id="field8" style="display: None;">
                              <label for="input" class="label">Account Number:</label>
                            <input type="text" name="account_number" class="input" placeholder="Account Number" />
                            </div>
                            <div class="dropdown mb-3 mt-2" id="field9" style="display: None;">
                            <label for="input" class="label">Country:</label>
                            <input type="text" name="country" placeholder="Country" class="input"  />
                            </div>
                            <div class="dropdown mb-3 mt-2" id="field10" style="display: None;">
                            <label for="input" class="label">Swift Code:</label>
                            <input type="text"name="swift_code" placeholder="Swift Code" class="input" />
                            </div>
                            <label for="input" class="label">Amount:$</label>
                            <br />
                            <input type="text" name="amount" id="amount" placeholder="Amount without ($)" class="input"  />
                            <label for="input" class="label">Fee:</label>
                            <br />
                            <input  type="text" class="input feeInput" name="fees" id="fees" value="0%" readonly/>
                            <label for="input" class="label">Description</label>
                            <br />
                            <textarea cols="30" rows="3" maxlength="20" class="textarea" name="narration" id="narration" placeholder="Narration" style="color: white;"></textarea>
                              <div class="input-wrapper">
                            <label class="label" for="otp" style="color:#cecece; font-size:16px;">Enter OTP</label>
                            <input type="number" class="form-control" id="otp" name="otp" minlength="6" maxlength="6"
                                placeholder="Enter 6-digit OTP" 
                                required 
                                style="background:#2a2a2a; color:#fff; border:1px solid #404040; padding:10px; border-radius:5px;">
                            <i class="clear-input" style="color:#cecece;">
                                <i class="bi bi-x-circle"></i>
                            </i>
                        </div>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                              <label class="form-check-label" for="flexCheckDefault"> Agree to Terms & Conditions? </label>
                            </div>
                            <button name="withdraw" type="submit" class="btn-main">Next</button>
                            </form>
                            
                                    </div>
                  </div>
              
              </section>
              
              <script src="../plugins/jquery-3.1.1.min.js"></script>
              <script src="../plugins/sweetalerts/sweetalert2.min.js"></script>
              <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
              <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
              <script type="text/javascript">
              $(document).ready(function() {
                $("#type").change(function() {
                    if ($(this).val() == "Bitcoin") {
                        $("#field1").fadeIn();
                        $("#field2").hide();
                        $("#field3").hide();
                        $("#field4").hide();
                        $("#field5").hide();
                        $("#field6").hide();
                        $("#field7").hide();
                        $("#field8").hide();
                        $("#field9").hide();
                        $("#field10").hide();
                        $("#field11").hide();
                        $('#wallet-number').attr("placeholder", "Bitcoin");
                        $('#amount-fees').val('2%')
              
                    } else if ($(this).val() == "Ethereum") {
                        $("#field2").fadeIn();
                        $("#field1").hide();
                        $("#field3").hide();
                        $("#field4").hide();
                        $("#field5").hide();
                        $("#field6").hide();
                        $("#field7").hide();
                        $("#field8").hide();
                        $("#field9").hide();
                        $("#field10").hide();
                        $("#field11").hide();
                        $('#wallet-number').attr("placeholder", "Ethereum");
                        $('#amount-fees').val('4%')
                    } else if ($(this).val() == "Litecoin") {
                        $("#field3").fadeIn();
                        $("#field1").hide();
                        $("#field2").hide();
                        $("#field4").hide();
                        $("#field5").hide();
                        $("#field6").hide();
                        $("#field7").hide();
                        $("#field8").hide();
                        $("#field9").hide();
                        $("#field10").hide();
                        $("#field11").hide();
                        $('#wallet-number').attr("placeholder", "Litecoin");
                        $('#amount-fees').val('4%')
                    } else if ($(this).val() == "BitcoinCash") {
                        $("#field4").fadeIn();
                        $("#field1").hide();
                        $("#field2").hide();
                        $("#field3").hide();
                        $("#field5").hide();
                        $("#field6").hide();
                        $("#field7").hide();
                        $("#field8").hide();
                        $("#field9").hide();
                        $("#field10").hide();
                        $("#field11").hide();
                        $('#wallet-number').attr("placeholder", "BitcoinCash");
                        $('#amount-fees').val('4%')
                    } else if ($(this).val() == "Skrill") {
                        $("#field5").fadeIn();
                        $("#field1").hide();
                        $("#field2").hide();
                        $("#field3").hide();
                        $("#field4").hide();
                        $("#field6").hide();
                        $("#field7").hide();
                        $("#field8").hide();
                        $("#field9").hide();
                        $("#field10").hide();
                        $("#field11").hide();
                        $('#wallet-number').attr("placeholder", "Skrill");
                        $('#amount-fees').val('3%')
                    } else if ($(this).val() == "Paypal") {
                        $("#field6").fadeIn();
                        $("#field1").hide();
                        $("#field2").hide();
                        $("#field3").hide();
                        $("#field4").hide();
                        $("#field5").hide();
                        $("#field7").hide();
                        $("#field8").hide();
                        $("#field9").hide();
                        $("#field10").hide();
                        $("#field11").hide();
                        $('#wallet-number').attr("placeholder", "Paypal");
                        $('#amount-fees').val('2%')
                    } else if ($(this).val() == "Bank Transfer") {
                        $("#field7").fadeIn();
                        $("#field8").fadeIn();
                        $("#field9").fadeIn();
                        $("#field10").fadeIn();
                        $("#field11").fadeIn();
                        $("#field1").hide();
                        $("#field2").hide();
                        $("#field3").hide();
                        $("#field4").hide();
                        $("#field5").hide();
                        $("#field6").hide();
                        $('#wallet-number').attr("placeholder", "Bank Transfer");
                        $('#amount-fees').val('5%')
                    } else {
                        $("#field1").hide();
                        $("#field2").hide();
                        $("#field3").hide();
                        $("#field4").hide();
                        $("#field5").hide();
                        $("#field6").hide();
                        $("#field7").hide();
                        $("#field8").hide();
                        $("#field9").hide();
                        $("#field10").hide();
                        $("#field11").hide();
                    }
                });
              
                $("#amount-gram").keyup(function() {
                    //var usd = this.val();
                    var usd = $("#amount-gram").val();
                    //var course = '2.0682345991368067';
                    var course = '0.00011';
                    $("#amount-usd").val(usd * course);
                });
              });
              </script>
       <!-- content -->
    </div>
    
    <script src="../plugins/jquery-3.1.1.min.js"></script>
    <script src="../plugins/sweetalerts/sweetalert2.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

<div class="dash_footer mt-4 small">
	<p>
		Copyright © SignalminigBTC Company offers a simple and transparent mechanism for attracting investments and making profits.
		<br />
	</p>
	</div>	
</div>



 
<div class="udex-overlay" id="myOverlay"></div>

<!-- The Modal -->
<div class="modal fade" id="noticeModal" role="dialog">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Notice!</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Do not pay to any wallet address aside from the company's Official wallet
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


<script>
	function copyFunction(text){
		var dummy = document.createElement("textarea");
		document.body.appendChild(dummy);
		dummy.value = text;
		dummy.select();
		document.execCommand("copy");
		document.body.removeChild(dummy);
		alert('Copied');
	}
</script>
<script>
if ($(window).width() > 992) {
	boxPosition = $(".udex-sidebar").offset().top;
	$(window).scroll(function(){
	   var isFixed = $(".udex-sidebar").css("position") === "fixed";
	   if($(window).scrollTop() > boxPosition && !isFixed){
				$(".udex-sidebar").css({position:"fixed", top: "0px"});
	   }else if($(window).scrollTop() < boxPosition){
			$(".udex-sidebar").css({position:"absolute", top: "auto"});
	   }
	});
}
</script>
<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>

<script>
$("#menu_btn").click( function(){
	$("#mySidebar").toggle();
	$("#main, .udex_footer").toggleClass("cubic-left");
	$("body").toggleClass("udex_overflow");
});
$("#account_menu").click( function(){
	$("#myAccount").toggle();
	$("#main, .udex_footer").toggleClass("cubic-right");
	$("body").toggleClass("udex_overflow");
});
</script>
 
  <style>
  .skiptranslate {
    display: none !important;
  }
  body {
    top: 0 !important;
  }
</style>
<div id="google_translate_element" style="display:none"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: "en"}, 'google_translate_element');
}
</script>

<script src='https://quidinvestmentgroup.com/user/assets/libs/jquery/jquery.min.js'></script>

<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


    
    <button data-bs-toggle="modal" data-bs-target="#Error" id="ErrorButton" style="display: none">click</button>

            <button data-bs-toggle="modal" data-bs-target="#Success" id="SuccessButton" style="display: none">click</button>



            <div class="modal fade dialogbox" id="Success" data-bs-backdrop="static" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-icon text-success">
                        <i class="fas fa-check-circle"></i>
                    </div>
                    <div class="modal-header">
                        <h5 class="modal-title">Success</h5>
                    </div>
                    <div class="modal-body text-white">
                         
                                    </div>
                    <div class="modal-footer">
                        <div class="btn-inline">
                            <a href="#" class="btn btn-primary" data-bs-dismiss="modal">CLOSE</a>
                        </div>
                    </div>
                </div>
                </div>
                </div>

                <div class="modal fade dialogbox" id="Error" data-bs-backdrop="static" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-icon text-danger">
                            <i class="fas fa-times-circle"></i>
                        </div>
                        <div class="modal-header">
                            <h5 class="modal-title">Error</h5>
                        </div>
                        <div class="modal-body text-white">
                             
                                        </div>
                        <div class="modal-footer">
                            <div class="btn-inline">
                                <a href="#" class="btn btn-primary " data-bs-dismiss="modal">CLOSE</a>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>

                    <div class="gtranslate_wrapper"></div>
<script>window.gtranslateSettings = {"default_language":"en","wrapper_selector":".gtranslate_wrapper","flag_style":"3d"}</script>
<script src="https://cdn.gtranslate.net/widgets/latest/float.js" defer></script>


</body>
</html>
